.form-login{
    background-color: #fff;
    width: 100%;
    max-width: 980px;
    margin: 0 auto ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 1% 20%;
  
}
.form-login h1.logo{ 
    color: crimson;
    font-size: 2.5em;
 
}

.form-login input{
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    font-size: 1.3em;
    color: #666;
    border: 1px solid crimson;
}

.form-login button{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: crimson;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    border: 0;
    transition: all .8s;
}
.form-login button:hover{
    background-color: #fff;
    color: crimson;
    border:2px solid crimson;

}


